*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;

    @include mobile() {
        overflow-y: scroll;
    }

    @include heightMedia() {
        overflow-y: scroll;
    }
}

button {
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
}