// Font
$primary-font: 'Rubik', sans-serif;

$bold: 700;
$medium: 500;
$regular: 400;

// Colors
$white: #fff;
$black: #000;
$very-dark-grey: hsl(0, 0%, 17%);
$dark-grey: hsl(0, 0%, 59%);
$btn-hover: #3F3F3F;
$primary-shadow: rgba(0, 0, 0, 0.0983665);